# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\morte\Documents\Dokumentation\2_Semester_Software-Udvikling\3_UFO\Assignments\Assignment3\Git\Assignment3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
